{% extends 'all-store/base.html' %}
{% load ratings %}
{% load bootstrap4%}
{% load static %}
{% block content %}
<hr class="mt-5">
<div class="container" style="font-size: 20px;font-family: 'Merienda One', cursive;">
  <div class="row">
    <div class="col-md-5">
      <div class="product-img">
        <img class="product-image" src="{{ product.imageURL }}" alt="img" height="200px" style="border-radius: 50%;">
      </div>
    </div>
    <div class="col-md-5">
      <p style="font-size: 60px;"></p>
      <p class="mt-2">{{product.name}}<p><br>
          <hr>
          <!-- <p class="mt-2">Product Overview<p><br> -->
              <p class="mt-2">{{product.description}}</p>
              <hr>
              <p class="mt-2"> PRICE; ksh{{product.price}}</p>
              <hr>
              <!-- <p class="mt-2">{% ratings product %}</p> -->
              <hr>
    </div>
  </div>
  <br><br>
  <h4 class="text-uppercase">Write Your Review</h4>
  <form class="review-form" action="/product/addcomment/" method="POST">
    {% csrf_token %}
<div class="form-group">
<input name="subject" type="text" class="input" placeholder="Your Subject">
</div>
<div class="form-group">
  <textarea name="comment" class="input" placeholder="Your review"></textarea>
</div>
<strong class="text-uppercase">Your Rating:</strong>
<div class="form-group">
  {% ratings product %}
</div>
{% if user.id is not None %}
<button class="primary-btn">Submit</button>
{% else %}
You must be logged in to post a review
{% endif %}
  </form>
</div>
{% endblock %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>